.barContainer { 
    // background-color: var(--text-color);
    height: var(--navHeight);
    display: flex;
    align-items: center;
    position: fixed;
    width: 100%;
    padding: 1rem;
    background-color: var(--bg-transparent);
    backdrop-filter: blur(4px);
    border-bottom: 1px dotted var(--border-color);
    z-index: 40;
    top: 0;

    * { 
        // color: var(--bg);
    }
    
}


.center { 
    flex-grow: 1;
    display: flex;
    align-content: center;
    justify-content: center;
}

.right { 
    display: flex;

    
}


.barContainer { 
    position: fixed;
    top: 0;
    // background-color: red;
}

// .menubuttoncontainer { 
//     height: 1rem;
//     // padding: 0.25rem;
//     border: 1px solid red;
// }