.linkItem {
  background-color: var(--bg);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  padding: 4px 8px 3px 8px;
  line-height: 1;
  font-size: 0.75rem;
  font-weight: 300;
  vertical-align: middle;
  white-space: nowrap;
  margin-bottom: 0.5rem;
  opacity: 0.8;

  width: 100%;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }


}

.pillsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 2rem;

  .pill {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1px 6px;
    font-weight: 300;
    border-radius: 4px;
    border: 1px solid var(--border-color);
    background-color: transparent;
    color: var(--text-color);
    transition: all 0.2s ease;
    line-height: 1;
    font-size: 0.7rem;
    opacity: 0.75;

    &:hover {
      background-color: var(--border-color);
      color: var(--bg);
    }
  }
}


.paragraph {
  margin-bottom: 8px;
  line-height: 1.45;
  font-weight: 300;
  font-size: 0.875rem;
  opacity: 0.9;
}

.sectionTitle {
  font-size: 1.05rem;
  font-weight: 400;
  padding: 8px 0 4px 0;
  margin-bottom: 4px;
  letter-spacing: -0.02em;
  opacity: 0.8;
}

.imageContainer {
  width: 100%;
  // background-color: red;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;

  margin-bottom: 2rem;

  img {
    // width: 90%;

    height: auto;
    object-fit: cover;

  }
}

.highlight {
  position: relative;
  margin: 12px 0 12px 28px;
  padding-right: 21px;
  font-style: italic;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    left: -10px;
    top: 0;
    height: 100%;
    width: 2px;
    background-color: var(--text-color);
  }
}

.HighLightSection {
  padding: 20px;
  margin-bottom: 36px;
  background-color: color-mix(in srgb, var(--bg), black 5%);
  border-radius: 14px;
  border: 1px solid var(--border-color);
  break-inside: avoid;

  .sectionName {
    font-size: 1.75rem;
    font-weight: 700;
    margin-bottom: 16px;
  }

  .items {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
  }
}

.DataSection {
  padding-bottom: 3rem;
  break-inside: avoid;

  .block {
    margin-top: 24px;
  }

  .radialbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; // allows children to wrap
    align-items: stretch; // or center, depending on your use
    justify-content: center;
    gap: 1rem;
    // background-color: magenta;
    overflow: visible;
  }

  .linearBarRow {
    height: 64px;
  }

  .RadialContainerCell {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
  }

  .pointLabel {
    margin-top: 0.5rem;
    font-size: 0.8rem;
    color: var(--text-color);
  }
}

.gridSection {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 800px;
  background-color: var(--bg);
  border: 1px solid var(--border-color);
  border-radius: 12px;
  overflow: hidden;

  margin: 0 auto;

  margin-bottom: 1rem;

  .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 4px 12px;
    font-size: 0.8rem;
    border-bottom: 1px solid var(--border-color);
    transition: background 0.2s cubic-bezier(0.165, 0.84, 0.44, 1);

    &:hover {
      background-color: var(--border-color);

      * {
        color: var(--bg);
      }
    }

    &:last-child {
      border-bottom: none;
    }
  }
}

.codeBlock {
  margin: 0.75rem 0;
  padding: 8px;
  border-radius: 6px;
  overflow: auto;
  position: relative;
  font-family: var(--monospace-font, monospace);
  font-size: 0.8rem;
  background-color: color-mix(in srgb, var(--bg), black 3%);
  white-space: pre-wrap;
  word-break: break-word;
  border: 1px solid var(--border-color);

  &.truncate {
    max-height: 300px;
    overflow: scroll;
  }



  .copyButton {
    position: sticky;
    top: 2px;
    right: 2px;
    background: var(--bg);
    border: 1px solid var(--border-color);
    color: var(--text-color);
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
    z-index: 2;
    opacity: 0.7;
    float: right;

  }

  .pre {
    margin: 0;
    white-space: pre;
  }

  .line {
    display: flex;
    align-items: flex-start;
  }

  .lineNumber {
    user-select: none;
    width: 2em;
    text-align: right;
    margin-right: 1em;
    color: var(--muted-text, #888);
    flex-shrink: 0;
  }

  .codeContent {
    flex: 1;
    white-space: pre-wrap;
    word-break: break-word;
  }
}

.ContentContainer {
  column-count: 2; // number of columns
  column-gap: 1rem;
  width: 100%; // spacing between columns
  max-width: 1400px;

  margin: 0 auto;
  margin-bottom: 5rem;
  padding-bottom: 5rem;
  border-radius: var(--border-radius) var(--border-radius) 0 0;

  @media (max-width: 1200px) {
    column-count: 2; // fallback to single column as different from the usual method... lazy but smooth@
  }

  @media (max-width: 900px) {
    column-count: 1; // fallback to single column as different from the usual method... lazy but smooth@
  }


}

.sectionContainer {
  display: inline-block; // important so sections respect column flow
  width: 100%;
  // margin: 0 0 24px;       
  // spacing between blocks
  padding: 2px 12px;
  border-radius: var(--border-radius);
  background-color: transparent;
  // prevent a section from splitting between columns
}

.sectionDivider {
  // grid-column: 1 / -1; // spans across both columns
  // height: 1px;
  // margin: 24px 0;
  // background-color: var(--border-color);
}