.cardRegular {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
  transition: transform 0.3s ease;
  max-height: 400px;
//   background: var(--bg-l2);

  &:hover {
    // transform: translateY(-2px);
  }

  &:hover .Title {
    color: var(--accent-color);
  }

  &:hover .image {
    // transform: scale(1.05);
  }
}

.ImgContainer {
  width: 100%;
  height: 70%;
//   min-height: 50%;
//   height: 140px; /* smaller than large card */
  overflow: hidden;
//   flex-shrink: 0;
  background: var(--bg-l1);
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s ease;
}

.ContentWrapper {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 1rem;
  gap: 0.75rem;
}

.Header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.Title {
  font-size: 1rem;
  font-weight: 200;
  color: var(--text-color);
  color: var(--accent-color);
}

.date {
  font-size: 0.75rem;
  color: rgba(var(--text-rgb), 0.6);
}

.Description {
  font-size: 0.875rem;
  line-height: 1.4;
  color: rgba(var(--text-rgb), 0.75);
  flex: 1;
}

.Footer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  gap: 0.5rem;
  margin-top: auto;
}

.linkGroup {
  display: flex;
  gap: 0.5rem;
}
