.grid {
  display: grid;
  gap: 1rem; // fixed gap now
  // background-color: orange;
  width: 100%;
}

/* HERO: 2 columns, large tiles */
.template-hero {
  grid-template-columns: repeat(
    auto-fit,
    minmax(500px, 1fr)
  );
}

/* LARGE: auto-fill, max 2 columns */
.template-large {
  // background-color: red; 
 grid-template-columns: repeat(
    auto-fit,
    minmax(600px, 1fr)
  );
  // max-width: calc(2 * 400px);
}

/* REGULAR: auto-fill, max 3 columns */
.template-regular {
  // background-color: blue;
  grid-template-columns: repeat(
    auto-fit,
    minmax(min(100%, 280px), 1fr)
  );
  // max-width: calc(3 * 280px);
}


.template-nav {
  grid-template-columns: repeat(2, 1fr); /* 2 equal columns */
  grid-gap: 1.5rem; /* Optional: increase gap between items */
}

.item {
  width: 100%;
}

/* Optional animation */
.animatedContainer > .item {
  opacity: 0;
  animation: fadeUp 400ms ease forwards;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
