.DESKTOP_MainLayout {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.Content {
    flex-grow: 1;
    margin: 1rem 1rem 1rem 0;
    overflow-y: auto;
    overflow-x: hidden;
    position: relative;
}

@keyframes pageTransition {
    0% {
        opacity: 0;
        transform: translateY(10px) scale(0.99);
        filter: blur(4px);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
        filter: blur(0px);
    }
}

.DesktopContent {
    width: 100%;
    animation: pageTransition 0.5s cubic-bezier(0.16, 1, 0.3, 1) forwards;
    will-change: transform, opacity, filter;
    backface-visibility: hidden;

}

.MOBILE_MainLayout { 
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    position: relative;

    // background-color: red;

}

.MobileContent_fixed { 

    position: fixed;
    // background-color: orange;
    // margin-top: 100px;


        display: flex;
    flex-direction: row;
    // height: 100vh;
    // width: 100vw;
    bottom: 0;
    top: var(--mobileTopNavSafeArea);
    overflow: hidden;
            display: flex;
    flex-direction: column;
  
}



.MobileContent_free { 

    // position: fixed;
    // background-color: orange;
    // margin-top: 100px;


        display: flex;
    flex-direction: row;
    // height: 100vh;
    // width: 100vw;
    bottom: 0;
    padding-top: var(--mobileTopNavSafeArea);
    // overflow: hidden;
            display: flex;
    flex-direction: column;
    // background-color: red;
  
}

.MOBILE_PageContainer {
    // width: 100%;
    // animation: pageTransition 0.5s cubic-bezier(0.16, 1, 0.3, 1) forwards;
    // will-change: transform, opacity, filter;
    // backface-visibility: hidden;
    // padding: 2rem; // Mobile padding
    // top: var(--mobileTopNavSafeArea);
    background-color: red;
}

.MainLayout {
    // Empty or debug styles if needed
}